<header class="gh-head">
    <nav class="gh-navbar inner">
        <div class="gh-navbar-left">
            <div class="gh-nav-logo gh-navbar-item">
                <a href="http://oguzhanarnak.com" style="color:  #000;font-size: large;">
                    Oğuzhan
                </a>
                <a class="gh-nav-logo-suffix" href="http://oguzhanarnak.com/blog">Blog</a>
            </div>
        </div>
        <div class="gh-navbar-right">
            <a class="gh-navbar-item" href="http://oguzhanarnak.com/">About</a>
        </div>
    </nav>
</header>

    <header class="gh-mobilehead">
        <nav class="gh-mobilenavbar">
            <a class="gh-nav-burger" href="#">
                <div class="hamburger hamburger--collapse" aria-label="Menu">
                    <div class="hamburger-box"><div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
        <a class="gh-nav-logo" href="/" style="color:  #000;font-size: large;">

            Oğuzhan
            <span class="gh-nav-logo-suffix">Blog</span>
        </a>
    </nav>
    <div class="gh-mobilemenu">
        {{navigation}}
        <a class="gh-navbar-item" href="http://oguzhanarnak.com/">About</a>
    </div>
</header>
